.carousel-items > div {
  display: none;
}

#classic-control:checked ~ .carousel-inner #classic,
#caramel-control:checked ~ .carousel-inner #caramel,
#mocha-control:checked ~ .carousel-inner #mocha,
#almond-control:checked ~ .carousel-inner #almond {
  display: block;
}

.carousel-btn {
  border: 4px solid #fff;
  border-radius: 50%;
}

#classic-control:checked ~ .carousel-inner [for="classic-control"],
#caramel-control:checked ~ .carousel-inner [for="caramel-control"],
#mocha-control:checked ~ .carousel-inner [for="mocha-control"],
#almond-control:checked ~ .carousel-inner [for="almond-control"] {
  background-color: #fff;
}
